body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    position: relative;
    background-color: rgba(0, 169, 236, .5);
    justify-items: center;

    header {
        width: 100%;
        height: 100px;
        background-color: rgba(0, 169, 236, .8);
        display: grid;
        grid-template-columns: 100px 1fr;
        box-sizing: border-box;

        img {
            height: 100px;
            width: 100px;
            grid-area: 1 / 1 / 2 / 2;
        }

        form {
            align-self: center;
            justify-self: center;
            grid-area: 1 / 1 / 2 / 3;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 10px;

            input {
                height: 20px;
                border: 2px solid rgb(2, 109, 151);
                background-color: rgb(0, 169, 236);
                color: #fff;

                &::placeholder {
                    color: #fff;
                }
            }
            
            button {
                background-color: rgb(0, 128, 178);
                color: #fff;
                border: 2px solid rgb(2, 109, 151);
            }
        }
    }

    .work-space {
        display: grid;
        height: auto;
        row-gap: 15px;
        padding: 15px;
        width: 1024px;
        box-sizing: border-box;

        .task {
            display: grid;
            grid-template: repeat(2, auto) / 100px 1fr 50px;
            grid-template-areas: "checkbox title bin" "checkbox article bin";
            width: 100%;
            height: auto;
            max-height: 100px;
            column-gap: 30px;
            row-gap: 10px;

            label {
                grid-area: checkbox;
                display: grid;
                height: 100px;
                width: 100px;
                align-self: center;

                input { 
                    height: 50px;
                    width: 50px;
                    margin: 0;
                    padding: 0;
                    align-self: center;
                    justify-self: center;
                }
            }

            h1 {
                grid-area: title;
                height: auto;
                justify-self: start;
                text-justify: center;
                max-width: calc(100vw - 240px);
                word-wrap: break-word;
                @include fontRoboto (24px, 700);
            }

            p {
                grid-area: article;
                max-width: calc(100vw - 240px);
                word-wrap: break-word;
                @include fontRoboto (16px, 400);
            }

            .bin {
                grid-area: bin;
                width: 100%;
                height: 100%;
                display: grid;

                svg {
                    height: 50px;
                    width: 50px;
                    fill: #fff;
                    justify-self: center;
                    align-self: center;
                    z-index: -1;
                }
            }
        }
    }
}